<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="jnditemplate" class="org.springframework.jndi.JndiTemplate">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">org.wildfly.naming.client.WildFlyInitialContextFactory</prop>
                <prop key="java.naming.provider.url">http-remoting://127.0.0.1:8081</prop>
                <prop key="java.naming.security.principal">apuser</prop>
                <prop key="java.naming.security.credentials">apuser</prop>
            </props>
        </property>
    </bean>
    <bean id="connectionfactory" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jnditemplate"/>
        <property name="jndiName" value="jms/RemoteConnectionFactory"/>
    </bean>

    <bean id="destinationtopic" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jnditemplate"/>
        <property name="jndiName" value="jms/topic/test"/>
    </bean>
    <bean id="destinationqueue" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jnditemplate"/>
        <property name="jndiName" value="jms/queue/test"/>
    </bean>
    <bean id="credentialconnectionfactory"
          class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
        <property name="targetConnectionFactory" ref="connectionfactory"/>
        <property name="username" value="apuser"/>
        <property name="password" value="apuser"/>
    </bean>

    <bean id="jmstemplatetopic" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="credentialconnectionfactory"/>
        <property name="defaultDestination" ref="destinationtopic"/>
    </bean>
    <bean id="jmstemplatequeue" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="credentialconnectionfactory"/>
        <property name="defaultDestination" ref="destinationqueue"/>
    </bean>
    <bean id="listenerqueue" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="credentialconnectionfactory"/>
        <property name="destination" ref="destinationqueue"/>
        <property name="messageListener" ref="receiver"/>
    </bean>

    <bean id="sendtopic" class="model.logic.JMSSender">
        <property name="jmsTemplate" ref="jmstemplatetopic"/>
    </bean>
    <bean id="sendqueue" class="model.logic.JMSSender">
        <property name="jmsTemplate" ref="jmstemplatequeue"/>
    </bean>

    <bean id="receiver" class="model.logic.JMSReceiver"/>
    <bean id="jmsContainerqueue"
         class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="credentialconnectionfactory"/>
        <property name="concurrentConsumers" value="1" />
        <property name="destinationName" value="jms/queue/test"/>
        <property name="messageListener" ref="receiver" />
    </bean>
</beans>
